
<p-toast position="top-center"></p-toast>
<div id="page" class="back">
<mat-card>
  <mat-card-title><p class="h3">Forget Password</p></mat-card-title>
  <mat-card-content>
  <div class="form row col-md-10" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" [disabled]="isusernameDisable" />
        <div *ngIf="f.submitted && username.invalid">
          <div class="error-field" *ngIf="f.controls['username'].errors?.['required']">username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" [disabled]="isformDisable"
         #password="ngModel" required minlength="8" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])[A-Za-z\d!@#\$%\^&\*]{8,}$" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"/>
        <div *ngIf="f.submitted && password.invalid">
          <div class="error-field" *ngIf="f.controls['password'].errors?.['required']">Password is required</div>
          <div class="error-field" *ngIf="f.controls['password'].errors?.['minlength']">Password must be at least 8 characters</div>
          <div class="error-field" *ngIf="f.controls['password'].errors?.['pattern']">Password must include at least one uppercase letter, one number, and one special character</div>
        </div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirm Password</label>
        <input type="password" class="form-control" name="cpassword" [(ngModel)]="form.cpassword" [disabled]="isformDisable"
         #cpassword="ngModel" required minlength="8" [ngClass]="{ 'is-invalid': f.submitted && cpassword.invalid }"/>
        <div *ngIf="f.submitted && cpassword.invalid">
          <div class="error-field" *ngIf="f.controls['cpassword'].errors?.['required']">Password is required</div>
          <div class="error-field" *ngIf="f.controls['cpassword'].errors?.['minlength']">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" #submit="ngModel" [(ngModel)]="form.submit" class="btn btn-primary" [disabled]="isformDisable">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Verification failed: {{errorMessage}}
        </div>
      </div>
    </form>
    </div>
  </mat-card-content>
</mat-card>
</div>
