
<div id="page" class="back">
<mat-card>
  <mat-card-title><p class="h3">Forget Password</p></mat-card-title>
  <mat-card-content>
  <div class="form row col-md-10" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" [disabled]="isformDisable" />
        <div *ngIf="f.submitted && username.invalid">
          <div class="error-field" *ngIf="f.controls['username'].errors?.['required']">username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Id</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" [disabled]="isformDisable"
         #email="ngModel" required  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" />
        <div *ngIf="f.submitted && email.invalid">
          <div class="error-field" *ngIf="f.controls['email'].errors?.['required']">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" #submit="ngModel" [(ngModel)]="form.submit" class="btn btn-primary" [disabled]="isformDisable">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Verification failed: {{errorMessage}}
        </div>
      </div>
    </form>

    <form name="otpform" (ngSubmit)="otpform.form.valid && verifyOtp()" #otpform="ngForm" novalidate>
      <div class="form-group">
        <label for="otp">Enter OTP</label>
        <input type="text" class="form-control" name="otp" [(ngModel)]="form.otp" #otp="ngModel"
          required minlength="4"  [ngClass]="{ 'is-invalid': otpform.submitted && otp.invalid }" [disabled]="!isformDisable" />
        <div *ngIf="otpform.submitted && otp.invalid">
          <div class="error-field" *ngIf="otpform.controls['otp'].errors?.['required']">OTP is required</div>
          <div class="error-field" *ngIf="otpform.controls['otp'].errors?.['minlength']">OTP must be at least 6 characters</div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="email">Email Id</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" [disabled]="isformDisable"
         #email="ngModel" required  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" />
        <div *ngIf="f.submitted && email.invalid">
          <div class="error-field" *ngIf="f.controls['email'].errors?.['required']">email is required</div>
        </div>
      </div> -->
      <div class="form-group">
        <!-- <button mat-raised-button
                color="primary" style = "margin-left: 30%;margin-top: 8%;"
                (click)="verifyOtp()" [disabled]="!isformDisable">
                Verify OTP </button> -->
                <input type="submit" value="Verify OTP" class="btn btn-primary" [disabled]="!isformDisable">
        <div *ngIf="isotpFailed" class="alert alert-danger">
          Verification failed: {{errorMessage}}
        </div>
        <div *ngIf="!isotpFailed && otpclicked" class="alert alert-success">
          Verification Success: {{successMessage}}
        </div>
        <p>Did you remember your password ?</p>
        <a href="login" class="btn btn-success">Login</a>
      </div>
    </form>
  </div>
  </mat-card-content>
</mat-card>
</div>
